:root {
    --black: #000000;
    --orange: #FE3E00;
    --navy-blue-kinda: #011627;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unna', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul {
    display: flex;
}
nav li {
    margin-right: 60px;
    list-style: none;
}
nav a {
    color: var(--black);
    text-decoration: none;
}
nav img {
    width: 70px;
}
#menu-icon {
    display: none;
    /* width: 40px; */
}
#navMobile ul{
    display: none;
}

/* HERO SECTION */
#hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3%;
}
.hero-section-texts {
    width: 30%;
}
.hero-section-img {
    background-image: url("images/HeroImage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 80vh;
}
.hero-section-texts h1 {
    font-size: 50px;
    width: 550px;
    letter-spacing: 2px;
}
.hero-section-texts p {
    padding-top: 30px;
    font-size: 25px;
    width: 550px;
    padding-bottom: 30px;
}
.hero-section-texts button {
    width: 130px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid var(--orange);
    cursor: pointer;
}
.hero-section-texts .fa-sharp {
    padding-left: 5px;
}
.hero-section-texts span {
    color: var(--orange);
}

/* SVELTE SOCIETY 9JA */
.svelte-society-9ja {
    margin-top: 8%;
    background-color: var(--navy-blue-kinda);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svelte-society-9ja-write {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svelte-society-9ja-write h1 {
    color: var(--orange);
    padding-top: 60px;
    letter-spacing: 3px;
    font-weight: 500;
}
.svelte-society-9ja-write p {
    color: var(--orange);
    padding-top: 5px;
    letter-spacing: 1px;
    text-align: center;
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
}
.svelte-society-9ja-write button {
    width: 180px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid var(--orange);
    cursor: pointer;
}


/* EVENTS-COMMUNITY-RESOURCES */
.event-community-resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: 50px;
    padding-top: 100px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.event-community-resources h3 {
    padding-bottom: 20px;
}
.event-community-resources p {
    width: 100%;
    padding-bottom: 20%;
}
.event-community-resources button {
    width: 180px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid var(--orange);
    cursor: pointer;
}
.write {
    width: 30%;
}

/* EVENTS */
.events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 70px;
}
.events img {
    width: 60%;
}

/* COMMUNITY */
.community {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 70px;
}
.community img {
    width: 60%;
}

/* RESOURCES */
.resources {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 70px;
}
.resources img {
    width: 60%;
}

/* ICON NAV */
#icon-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#icon-nav p {
    color: white;
    font-size: 15px;
    padding-bottom: 8px;
}
.up {
    position: relative;
    left: 46%;
    padding-top: 15px;
}
.upImg {
    width: 40px;
}

.icon {
    padding-top: 8%;
    padding-bottom: 10%;
}
.icon a {
    margin-right: 18px;
}
.icon img {
    width: 50px;
}

/* NAVIGATION */
#icon-nav ul {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}
#icon-nav li {
    margin: 0 25px;
    list-style: none;
}
#icon-nav a {
    color: white;
    text-decoration: none;
}

/* TOOLS, RECIPES, TEMPLATES & COMPONENTS */
.tools-recipes-templates-components {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}
.tools-recipes-templates-components a {
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.tools-recipes-templates-components hr {
    height: 15px;
}

/* RESPONSIVE DESIGN FOR TABLET VIEW */
@media screen and (min-width: 641px) and (max-width: 1000px) {
    nav ul {
        display: none;
    }
    #menu-icon {
        display: flex;
        width: 40px;
    }
    #navMobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0%;
        left: 0%;
        width: 100%;
        background-color: white;
    }
    #navMobile li {
        margin-bottom: 60px;
        list-style: none;
    }
    #navMobile a {
        color: var(--black);
        text-decoration: none;
        font-size: 30px;
    }
    
    /* HERO SECTION */
    #hero-section {
        justify-content: space-around;
        padding-top: 8%;
    }
    .hero-section-texts {
        width: 45%;
    }
    .hero-section-img {
        background-image: url("images/tablethero2.jpg");
        width: 40%;
        height: 40vh;
    }
    .hero-section-texts h1 {
        font-size: 31px;
        width: 100%;
        letter-spacing: 1px;
    }
    .hero-section-texts p {
        padding-top: 20px;
        font-size: 18px;
        width: 100%;
        padding-bottom: 30px;
    }

    /* SVELTE SOCIETY 9JA */
    .svelte-society-9ja-write p {
        color: white;
        letter-spacing: 0;
        width: 100%;
        font-size: 20px;
    }
}

/* RESPONSIVE DESIGN FOR MOBILE VIEW */
@media screen and (max-width: 640px) {
    nav ul {
        display: none;
    }
    #menu-icon {
        display: flex;
        width: 40px;
    }
    #navMobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0%;
        left: 0%;
        width: 100%;
        background-color: white;
    }
    #navMobile li {
        margin-bottom: 60px;
        list-style: none;
    }
    #navMobile a {
        color: var(--black);
        text-decoration: none;
        font-size: 30px;
    }

    /* HERO SECTION */
    #hero-section {
        justify-content: space-around;
        padding-top: 15%;
    }
    .hero-section-img {
        display: none;
    }
    .hero-section-texts {
        background-image: url("images/mobile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-section-texts h1 {
        font-size: 31px;
        width: 100%;
        letter-spacing: 1px;
    }
    .hero-section-texts p {
        padding-top: 20px;
        font-size: 18px;
        width: 100%;
        padding-bottom: 30px;
    }

    /* SVELTE SOCIETY 9JA */
    .svelte-society-9ja {
        margin-top: 5%;
    }
    .svelte-society-9ja-write {
        text-align: center;
    }
    .svelte-society-9ja-write h1 {
        width: 100%;
    }
    .svelte-society-9ja-write p {
        display: none;
    }
    .svelte-society-9ja-write button {
        display: none;
    }

    /* EVENTS-COMMUNITY-RESOURCES */
    .event-community-resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
        margin-top: 50px;
        padding-top: 100px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .event-community-resources h3 {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .event-community-resources p {
        width: 100%;
        padding-bottom: 10%;
    }
    .write {
        width: 100%;
    }

    /* EVENTS */
    .events {
        display: block;
    }
    .events img {
        width: 100%;
    }

    /* COMMUNITY */
    .community {
        display: block;
    }
    .community img {
        width: 100%;
    }

    /* RESOURCES */
    .resources {
        display: block;
    }
    .resources img {
        width: 100%;
    }

    /* ICON NAV */
    #icon-nav p {
        color: white;
        font-size: 15px;
        padding-bottom: 5px;
    }
    .icon {
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .icon a {
        margin: 0 17px;
    }
    .icon img {
        width: 40px;
    }

    /* NAVIGATION */
    .up {
        position: relative;
        left: 40%;
        padding-top: 15px;
    }
    .upImg {
        width: 40px;
    }
    #icon-nav ul {
        padding-bottom: 8%;
    }
    #icon-nav li {
        margin: 0 18px;
    }

    /* TOOLS, RECIPES, TEMPLATES & COMPONENTS */
    .tools-recipes-templates-components {
        padding-bottom: 8%;
    }
    .tools-recipes-templates-components a {
        margin-right: 10px;
        margin-left: 10px;
    }
}